@font-face {
  font-family: "Noto Sans R";
  src: url("./assets/fonts/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "Noto Sans M";
  src: url("./assets/fonts/NotoSansKR-Medium.otf");
}

*{
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  transition: 0.4s ease;
}

body {
  font-family: "Noto Sans R";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

test{
}