/* ACUStory hover시 BtnCUStory 이미지 변경 */


/* animation들 */
@keyframes toright {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes toleft {
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}

